body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhWkfBNulCXf6NXTXCDToF_S_BG3-6YzEXFQ&s") ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    
}
nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;

}
.logo{
    margin: 18px;
    width:150px;
    height:100px;
    cursor: pointer;
}
nav ul{
    flex:1;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    color: #130d0d;
}
nav ul li a{
    text-decoration: none;
    color:black;

}
nav ul li a:hover{
    color:rgb(230, 44, 44);
}
nav .btn{
    color: #000;
    text-decoration: none;
    margin-right: 18px;
    padding: 10px;
}
nav .btn:hover{
    color:rgb(230, 44, 44);
}
.content{
    display: absolute;
    margin-left: 45%;
    margin-top: 15%;
}
.content h1{
    font-size: 50px;
    padding-left: 15px;
}
.link{
    display: absolute;
    margin-left: 35%;
    margin-top: 12%;
}
.link a{
    text-decoration: none;
    padding: 10px 80px;
    border-radius: 15px;

}
.link .custom{
    margin-right: 10px;
    background-color: white;
}
.link .existing{
    background-color: #000;
    color: white;

}
.custom:hover{
    background-color: rgb(49, 44, 44);
    color: white;
}
.existing:hover{
    background-color: white;
    color:black;
}
